@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    
    background-color: rgb(101, 0, 0) ;
}
header{
    background-image: url(/photos/DALL·E\ 2025-02-08\ 15.59.37\ -\ A\ perfectly\ balanced\,\ evenly\ distributed\ color\ background\ for\ an\ online\ store\ specializing\ in\ boxing\ equipment.\ The\ background\ features\ a\ smooth\ and\ s.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99.9%;
    height: 240px;
    background-attachment: fixed;
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    
    margin-top: -20px;
    
}
.logo h2{
    background-color: black;
    font-family: "Poppins", serif;
    color: white;
    text-shadow: 0 0 15px rgb(255, 255, 255);
    box-shadow: 0 0 10px white;
    margin-left: 25px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.navbar{
    display: flex;
    gap: 40px;
    padding-top: 20px;
    margin-right: 50px;
    
}
    
.navbar a{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    font-family: "Poppins", serif;
  
}
main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.payment-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-info{
    display: flex;
    justify-content: space-between;
}

.card-info div {
    width: 48%;
}

button {
    width: 100%;
    padding: 10px;
    background-color:rgb(141, 27, 27);
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
footer{
    margin-left: -8px;
    background-color: darkgray;
    width:101% ;
    height: 200px;
    margin-top: 70px;
}
.footA{
    display: flex;
    gap: 160px;
    margin-left: 100px;
   
}
.footA a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    font-family: "Poppins", serif;
    font-weight: 600;
}
.footA a:hover{
    color: gray;
}

